@media (max-width: 935px)
{

    .topo {
        width: 100%;
        padding-right: 15px;
    }
    .topo .logo-img {
        margin-left: 15px;
    }
    .topo .controle {
        margin-right: 15px;
    }

    main {
        width: 614px;
    }

    .sidebar {
        display: none;
    }
}

@media (max-width: 614px)
{
    /* CLASSE PARA SUMIR NESSA MEDIA */
    .hide-614 {
        display: none;
        
    }

    /* REFERENTE AO TOPO */
    .topo .divisor {
        display: none;
    }
    .topo .pesquisa {
        display: none;
    }
    .topo .logo-palavra {
        margin: 8px auto 0 auto;
    }
    .topo .message {
        margin-right: 10px;
    }

    /* REFERENTE AOS STORIES*/
    .stories {
        background-color: #E5E5E5;
        border: none;
        margin-bottom: 0;
    }
    .stories ion-icon {
        display: none;
    }

    /* REFERENTE AO CONTEUDO */
    main {
        margin-top: 54px;
        width: 100%;
        left: 0;
        right: 0;
    }
    .conteudo {
        width: 100%;
    }
    .post {
        border: none;
        border-radius: 0;
        border-top: 1px solid #DBDBDB;
        border-bottom: 1px solid #DBDBDB;
    }

    /* FOOTER */
    footer {
        display: flex;
    }
}